books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="all_books">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="author" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element minOccurs="0" name="genre" type="xs:string" />
              <xs:element name="year" type="xs:unsignedShort" />
              <xs:element name="publisher" type="xs:string" />
              <xs:element name="annotation" type="xs:string" />
              <xs:element name="pages" type="xs:unsignedShort" />
              <xs:element name="sale" type="xs:unsignedByte" />
              <xs:element name="city" type="xs:string" />
              <xs:element name="cover" type="xs:string" />
              <xs:element name="price" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
